* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  width: 100%;
  height: 50px;
  background-color: rgb(53, 53, 53);
}

.navbar-container {
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 0 50px;
  height: 100%;
  color: #a7a3a3;
}

.logo-container {
  flex: 1;
}

.menu-container {
  flex: 6;
}
.menu-list {
  list-style: none;

  display: flex;
  gap: 40px;
}
.menu-list-item.active {
  border-bottom: 1px solid white;
  font-weight: 600;
}
.menu-list-item a {
  font-size: 1.1em;
  color: #a7a3a3;
  text-decoration: none;
}
.menu-list-item a:hover {
  color: white;
  transition: all 0.3s;
}
.profile-container {
  flex: 2;
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: flex-end;
}
.profile-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 5px;
  color: #a7a3a3;
}
.profile-link img {
  object-fit: cover;
  width: 40px;
  border-radius: 50%;
}

.toggle {
  width: 48px;
  height: 25px;
  background-color: white;
  border-radius: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: goldenrod;
  position: relative;
}

.toggle-ball {
  position: absolute;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  background-color: black;
  right: 0px;
  top: 1px;
  cursor: pointer;
  transition: all 0.3s linear;
}

.sidebar {
  height: 100%;
  width: 50px;
  background-color: rgb(53, 53, 53);
  position: fixed;
  top: 0;
}

.sidebar-list {
  list-style: none;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.sidebar-list_item a {
  text-decoration: none;
  color: #a7a3a3;
  font-size: 1.5em;
}
.sidebar-list_item a:hover {
  color: white;
  transition: all 0.3s;
}

.container {
  padding: 0px 0 0 50px;
  background-color: #151515;
  min-height: calc(100vh - 50px);
  color: white;
}
.feature-content {
  height: 75vh;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #151515),
    url("img/banner-john.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px;
}
.feature-desc {
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.feature-title {
  font-size: 1.5em;
  color: white;
  box-shadow: 10px 10px 20px #a7a3a3;
}
.feature-desc button {
  width: 100px;
  height: 40px;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
}

.move-list_container {
  padding: 20px;
}
.movie-list_item__img {
  width: 270px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}
.movie-list {
  display: flex;
  height: 300px;
  align-items: center;
  gap: 30px;
  transform: translateX(0);
  transition: all 1s;
}
.movie-list_wrapper {
  overflow: hidden;
}
.movie-list_item {
  position: relative;
}
.movie-list_item:hover .movie-list_item__img {
  transform: scale(1.05);
  transition: all 0.6s;
  opacity: 0.3;
}
.movie-list_item:hover .movie-list_watch {
  opacity: 1;
  transition: all 0.6s;
}
.movie-list_watch {
  position: absolute;
  top: 0;
  width: 200px;
  height: auto;
  margin: 50px 0 0 10px;
  opacity: 0;
}

.movie-list_item__title {
  font-size: 1.5em;
  color: #a7a3a3;
  font-weight: 600;
}
.movie-list_item__desc {
  font-size: 1.3em;
  color: #a7a3a3;
  font-weight: 600;
  margin-bottom: 20px;
}
.btn-watch {
  text-decoration: none;
  background-color: aqua;
  padding: 10px 20px;
  border-radius: 5px;
}
.movie-list_wrapper {
  position: relative;
}
.arrow {
  font-size: 6em;
  position: absolute;
  right: 0;
  top: 30%;
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.container.active {
  background-color: white;
}
.movie-list_item__title.active {
  color: black;
}
.movie-list_item__desc.active {
  color: black;
}

.navbar-container.active {
  color: rgb(0, 0, 0);
  background-color: white;
}
.menu-list-item.active a {
  color: rgb(0, 0, 0);
}
.menu-list-item.active a:hover {
  color: rgb(107, 107, 107);
  transition: all 0.3s;
}
.sidebar.active {
  background-color: white;
}
.left-menu-icon.active {
  color: black;
}
.move-list_title.active {
  color: black;
}
.arrow.active {
  color: black;
}
.toggle.active {
  background-color: black;
}
.toggle-ball.active {
  background-color: white;
  transform: translateX(-24px);
}


@media screen and (max-width:940px) {
  .menu-container {
    display: none;
  }
}